.user-account-wrapper{
    >.title{
        padding: 15px;
        color: #222;
    }
    .account-item{
        background: #fff;
        padding: 15px 15px 1px 15px;
        margin-bottom: 10px;
        .account-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 15px;
            .text{
                color: #999;
            }
            .info{
                color: #222;
            }
        }
    }
}