.select-history-wrapper{
    padding: 15px;
    .history-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        font-size: 14px;
        color: #222;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 5px;
        .right{
            display: flex;
            align-items: center;
            .arrow-icon{
                width: 10px;
                margin-left: 5px;
            }
        }
    }
}