.scan-detail-wrapper{
    padding: 15px;
    font-size: 14px;
    .content{
        border-radius: 5px;
        background-color: #fff;
        padding: 10px;
        .strategy-name{
            color: #083AEF;
            margin-bottom: 20px;
            font-size: 16px;
        }
        .info-item{
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        .method-title{
            margin-bottom: 10px;
        }
        .method-value{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        
    }
    .scan-detail-btn-wrapper{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        >div,a{
            width: 110px;
            text-align: center;
            background-color: #083AEF;
            height: 40px;
            line-height: 40px;
            color: #fff;
        }
    }
}