.my-strategy-detail-wrapper{
    padding: 15px;
    font-size: 15px;
    color: #222;
    .strategy-content{
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        .strategy-name{
            color: #083AEF;
            margin-bottom: 20px;
        }
        .strategy-type{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            margin-top: 15px;
        }
        .discribe{
            margin-top: 15px;
            >.text{
                margin-top: 15px;
            }
        }
    }
    .my-strategy-detail-btn-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        >div,a{
            width: 100px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: #fff;
            background-color: #083AEF;
        }
    }
}