.select-history-detail-wrapper{
    padding: 15px;
    .list-wrapper{
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        .list-title{
            display: flex;
            padding: 10px 0;
            >div{
                flex:1;
                text-align: center;
                font-size: 12px;
                color: #999;
            }
        }
        .list-item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eee;
            margin-bottom: 8px;
            padding-bottom: 10px;
            &:last-of-type{
                border-bottom: none;
            }
            >div{
                flex:1;
                text-align: center;
            }
            .stock-name{
                font-size: 14px;
                color: #222;
            }
            .stock-code{
                font-size: 12px;
                color: #999;
            }
            .price{
                font-weight: bold;
                color: #222;
                font-size: 15px;
            }
            .change-rate{
                font-weight: bold;
                color: #E84345;
                font-size: 15px;
            }
        }
    }
}