.history-wrapper{
    padding: 15px;
    .current-all{
        margin-bottom: 10px;
        font-size: 13px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .source-wrapper{
        margin-bottom: 10px;
        font-size: 14px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        >img{
            width: 13px;
        }
    }
    .period-list{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .history-item{
        padding: 15px;
        background-color: #fff;
        margin-bottom: 10px;
        .code-date{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .code-name{
                font-size: 16px;
                color: #222;
                font-weight: bold;
            }
            >.date{
                font-size: 12px;
                color: #999;
            }
        }
        .hisotry-info{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            >span{
                &.red{
                    color: #FE5958;
                }
            }
        }
    }
    .no-data{
        margin-top: 30px;
        text-align: center;
        
    }
}